APP_NAME=Passito
APP_DESC="Gatepass Management System"
APP_URL=https://passito.local
APP_VERSION=1.2
APP_DEBUG=true
APP_ENV=development

DB_DRIVER=pdo_mysql
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=

SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_PORT=
SMTP_DEBUG=
MAILER_FROM=

SESSION_SECURE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

QR_SECRET=passito
TIME_ZONE=Asia/Kolkata