.env
.idea
.phpunit.result.cache
vendor/
node_modules/
resources/dist/
public/build/
public/js/vendor/
storage/temp/
storage/qr_codes/
storage/attachments/
storage/outpasses/
storage/exports/
storage/reports/
storage/backups/
resources/.sass-cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
